#STOCHHMM MODEL FILE
MODEL INFORMATION
======================================================
MODEL_NAME:	DRIP NT2 7states
MODEL_DESCRIPTION:	7 state peak model DRIP
MODEL_CREATION_DATE:	5.12.14

TRACK SYMBOL DEFINITIONS
======================================================
SCORE:	N,L,O,M,H,S

STATE DEFINITIONS
#############################################
STATE:
	NAME:	INIT
TRANSITION:	STANDARD:	P(X)
	NOISY_INTERPEAK:	0.14285714285714
	NOISY_MEDPEAK:	0.14285714285714
	NOISY_BROADPEAK:	0.14285714285714
	GENOMIC_INTERPEAK:	0.14285714285714
	SPARSE_MEDPEAK:	0.14285714285714
	SPARSE_SHARPPEAK:	0.14285714285714
	SPARSE_INTERPEAK:	0.14285714285714
#############################################
STATE:
	NAME:	SPARSE_MEDPEAK
	PATH_LABEL:	E
	GFF_DESC:	Sparse_MedPeak
TRANSITION:	STANDARD:	P(X)
	NOISY_INTERPEAK:	0
	NOISY_MEDPEAK:	0
	NOISY_BROADPEAK:	0
	GENOMIC_INTERPEAK:	0.00005128205
	SPARSE_MEDPEAK:	0.9998462
	SPARSE_SHARPPEAK:	0
	SPARSE_INTERPEAK:	0.0001025641
	END:	1
EMISSION:	SCORE	COUNTS
	ORDER:	3
@N	L	O	M	H	S
#############################################
STATE:
	NAME:	SPARSE_SHARPPEAK
	PATH_LABEL:	S
	GFF_DESC:	Sparse_SharpPeak
TRANSITION:	STANDARD:	P(X)
	NOISY_INTERPEAK:	0
	NOISY_MEDPEAK:	0
	NOISY_BROADPEAK:	0
	GENOMIC_INTERPEAK:	0.0000952381
	SPARSE_MEDPEAK:	0
	SPARSE_SHARPPEAK:	0.9997143
	SPARSE_INTERPEAK:	0.0001904762
	END:	1
EMISSION:	SCORE	COUNTS
	ORDER:	3
@N	L	O	M	H	S
#############################################
STATE:
	NAME:	SPARSE_INTERPEAK
	PATH_LABEL:	N
TRANSITION:	STANDARD:	P(X)
	NOISY_INTERPEAK:	0
	NOISY_MEDPEAK:	0
	NOISY_BROADPEAK:	0
	GENOMIC_INTERPEAK:	0
	SPARSE_MEDPEAK:	0.00003125
	SPARSE_SHARPPEAK:	0.00003125
	SPARSE_INTERPEAK:	0.9999375
	END:	1
EMISSION:	SCORE	COUNTS
	ORDER:	3
@N	L	O	M	H	S
#############################################
STATE:
	NAME:	NOISY_INTERPEAK
	PATH_LABEL:	I
TRANSITION:	STANDARD:	P(X)
	NOISY_INTERPEAK:	0.9999048
	NOISY_MEDPEAK:	0.00004761905
	NOISY_BROADPEAK:	0.00004761905
	GENOMIC_INTERPEAK:	0
	SPARSE_MEDPEAK:	0
	SPARSE_SHARPPEAK:	0
	SPARSE_INTERPEAK:	0
	END:	1
EMISSION:	SCORE	COUNTS
	ORDER:	3
@N	L	O	M	H	S
#############################################
STATE:
	NAME:	NOISY_MEDPEAK
	PATH_LABEL:	M
	GFF_DESC:	Noisy_MedPeak
TRANSITION:	STANDARD:	P(X)
	NOISY_INTERPEAK:	0.0001025641
	NOISY_MEDPEAK:	0.9998462
	NOISY_BROADPEAK:	0
	GENOMIC_INTERPEAK:	0.00005128205
	SPARSE_MEDPEAK:	0
	SPARSE_SHARPPEAK:	0
	SPARSE_INTERPEAK:	0
	END:	1
EMISSION:	SCORE	COUNTS
	ORDER:	3
@N	L	O	M	H	S
#############################################
STATE:
	NAME:	NOISY_BROADPEAK
	PATH_LABEL:	B
	GFF_DESC:	Noisy_BroadPeak
TRANSITION:	STANDARD:	P(X)
	NOISY_INTERPEAK:	0.0001333333
	NOISY_MEDPEAK:	0
	NOISY_BROADPEAK:	0.9998
	GENOMIC_INTERPEAK:	0.00006666667
	SPARSE_MEDPEAK:	0
	SPARSE_SHARPPEAK:	0
	SPARSE_INTERPEAK:	0
	END:	1
EMISSION:	SCORE	COUNTS
	ORDER:	3
@N	L	O	M	H	S
#############################################
STATE:
	NAME:	GENOMIC_INTERPEAK
	PATH_LABEL:	G
TRANSITION:	STANDARD:	P(X)
	NOISY_INTERPEAK:	0
	NOISY_MEDPEAK:	0.0000001351351
	NOISY_BROADPEAK:	0.0000001351351
	GENOMIC_INTERPEAK:	0.9999995
	SPARSE_MEDPEAK:	0.0000001351351
	SPARSE_SHARPPEAK:	0.0000001351351
	SPARSE_INTERPEAK:	0
	END:	1
EMISSION:	SCORE	COUNTS
	ORDER:	3
@N	L	O	M	H	S
#############################################
//END
